<nav class="sidebar bg-light p-3">
    <h5 class="text-center mb-4">Navigation</h5>

    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i>Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/packages">
                <i class="bi bi-box-seam me-2"></i>Pakker
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/bookings">
                <i class="bi bi-journal-check me-2"></i>Bookinger
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/users">
                <i class="bi bi-people me-2"></i>Brugere
            </NavLink>
        </li>
        <li class="nav-item mt-3">
            <NavLink class="nav-link text-danger" href="/logout">
                <i class="bi bi-box-arrow-right me-2"></i>Log ud
            </NavLink>
        </li>
    </ul>
</nav>

