<div style="background:#0099dd; color:white; height:30px; display:flex; align-items:center; justify-content:space-between; padding:0 50px;">
    <span>FAQ</span>
    <span>© 2025 Gotorz.ae - Alle rettigheder forbeholdes</span>
</div>
